My_workflow_14.json
{
  "name": "My workflow 14",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -340,
        -120
      ],
      "id": "ab3d7ec0-e18a-4e22-b22f-1c4a1d11522e",
      "name": "When chat message received",
      "webhookId": "01da83c8-f1ba-48fb-bacb-7608d88f3c91"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "Search Reddit for the keyword I give you\nSearch useful posts finding relevant marketing insights and generate content concepts that once approved would get written into short or long form blogs based on this keyword/reddit responses.\n\nUse the firecrawl tool for the search."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        -120,
        -120
      ],
      "id": "c139460d-b9d2-49be-9966-a8278002926e",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -200,
        80
      ],
      "id": "44254a2d-0c2d-490e-a637-d1365e0cd822",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "HDfmiZDKbWWGL2XM",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Use this tool to search the internet",
        "method": "POST",
        "url": "https://api.firecrawl.dev/v1/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \"{{ $json.chatInput }} site:www.reddit.com\",\n  \"limit\": 5\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        280,
        40
      ],
      "id": "babe2ade-ade7-437c-bb91-9490974ec81d",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "tDcRb3x3zqVJHm1v",
          "name": "Header Auth account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "31ad794a-8209-4f00-9ba6-06b79b83224d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5e299a1c9534d3df40876524706c82a0adb5dc6203538ef644e25b7d869a117f"
  },
  "id": "fPkyUbowdIXXADxn",
  "tags": []
}